<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    <style>
        * {
            background-color: #000000;
            color: white;
        }

        /* Estilos para el contenedor del formulario */
        .container2 {
            max-width: 600px;
            margin: 2rem auto;
            background-color: #f9f9f9;
            border-radius: 15px;
        }

        /* Estilos para las etiquetas */
        label {
            color: white;
            display: block;
            margin-top: 10px;
        }

        /* Estilos para los inputs */
        input[type="text"],
        input[type="number"] {
            color: white;
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        /* Estilos para el botón */
        button {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #218838;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .card {
            background-color: #5271e1;
            border: 1px solid #707070;
            border-radius: 5px;
            padding: 20px;
            width: 200px;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
        }

        p {
            background-color: #5271e1;
        }

        .card img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .button2 {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: #c84414;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .button2:hover {
            background-color: #ff0000;
        }

        .pageButton {
            text-decoration: none;
            display: inline-block;
            width: 4rem;
            padding: 10px;
            margin: 2rem;
            background-color: #94a728;
            color: #fff;
            border: 2px black solid;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .btn {
            display: inline-block;
            padding: 8px 16px;
            margin: 5px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-size: 14px;
        }

        .btn-details {
            background-color: #2b2db1;
            color: white;
        }

        .btn-add-to-cart {
            background-color: #4CAF50;
            color: white;
        }

        .btn:hover {
            opacity: 0.8;
        }
    </style>
</head>

<body>

    {{{body}}}


</body>

</html>